@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.hero-container{
  width: 100%;
  height: 41em;
  font-family: 'Roboto', sans-serif;
  background-color: #02144a;
  color: #fff;
  border-radius: 0 0 0 80px;
  display: flex;
 
}
nav{
  width: 100%;
  margin-left: 4rem;
  display: flex;
}
.nav-logo{
  width: 40%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
}
.nav-links{
  width: 60%;
}
.nav-items li{
  display: inline-block;
  margin-left: 5rem;
  margin-top: 2.6rem;
}
.nav-items li a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #fff;
}
.hero-div{
display: flex;
width: 100%;
justify-content: left;
margin-top: 10rem;
margin-left: -77rem;
}
.hero-text{
text-align: left;
align-content: center;
margin-top: 0.8rem;
}
.hero-text h1{
  font-size: 45px;
}
.hero-text span{
  color: #fbb03b;
}
.hero-text p{
  font-size: 18px;
}
.btn-reg{
  border: 1px solid #fbb03b;
  background-color: #fbb03b;
  padding: 1rem 3rem;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
}
.mockup{
  margin-top: -6.3rem;
  margin-left: 15rem;
  
}
.mockup2{
  margin-top: -30rem;
  margin-left: -10rem;
  
}

@media screen and (max-width: 992px) {
  .App{
    width: 100%;
    overflow: hidden;
  }
  .hero-container{
    width: 100%;
    height: 45em;
  
  }
  .nav-links{
    display: none;
  }
  .hero-div{
    flex-direction: column;
    margin-left: -28rem;
    margin-right: 2rem;
    margin-top: 6rem;
  }
 
  .hero-text h1{
    font-size: 30px;
  }
  .hero-text p{
    font-size: 14px;
  }
  .mockup{
    height: auto;
    max-width: 100%;
    margin: auto;
    margin: 2.5rem 7rem;
  }
  .mockup1{
    height: auto;
    max-width: 100%;
  }
  .mockup2{
    height: auto;
    max-width: 100%;
    
  }
}
@media screen and (max-width: 320px) {
  .App{
    width: 100%;
    overflow: hidden;
  }
  .nav-logo{
    width: 40%;
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .hero-div{
   margin-left: 20rem;
   margin-right: 2rem
  }
}
.about-container{
  margin: 6rem 5rem;
  height: 30rem;
}
.about-text{
  text-align: center;
  width: 50%;
  margin: auto;
}
.about-text h6{
  color: #fbb03b;
}
.about-text h4{
  font-weight: 700;
  font-size: 2rem;
  margin-top: 10px;
}
.about-text p{
  font-size: 1rem;
  margin-top: 10px;
}
.about-cards{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  column-gap: 40px;
 
}
.row{
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7 ;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  padding: 1.2rem 1rem;
  box-shadow: 5px 5px 5px 5px #f7f7f7;
}
.about-icons{
  width: 50px;
  height: 50px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
}
.one  {
  background-color: #d1daf4;
  
}
 .one img {
  background-color: #d1daf4;
  width: 20px;
  height: 20px;
  position: relative;
  right:-16px;
  top: 16px;
  
}
.two img {
  background-color: #d1daf4;
  width: 20px;
  height: 20px;
  position: relative;
  right:-16px;
  top: 16px;
  
}
.three img {
  background-color: #d1daf4;
  width: 20px;
  height: 20px;
  position: relative;
  right:-16px;
  top: 16px;
  
}
.two {
  background-color: #cdebec;
  width: 50px;
  height: 50px;
}
.three {
  background-color: #f8e9d1;
  width: 50px;
  height: 50px;
}
.col  h5{
  margin-top: 30px;
  font-size: 1.2rem;
  text-align: left;
}
.col  li {
  margin-top: 20px;
}
.col  ul {
  margin-top: 5px;
  align-content: left;
}
@media screen and (max-width: 1000px) {
  .about-container{
    margin: 0rem 2rem;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .about-container{
    margin: 2rem 2rem;
  }
  .about-text{
    text-align: left;
    width: 80%;
  }
  .about-text h4{
    font-size: 1.2rem;
  }
  .about-text p{
    font-size: 0.8rem;
  }
  .about-cards{
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
.howItWorks{
  width: 100%;
  margin-top: 10rem;
  height: 40rem;
  background: #f0f1f5;
}
.phone{
  float: left;
}
.rect1{
  margin-top: -35px;
  width: 30%;
  height: 100%;
  position: absolute;
  left: 8rem;
  
}
.howItWorks-text {
  float: right;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-right: 5rem;
}
.howItWorks-text h6{
  color: #fbb03b;
  padding-left: 2.5rem;
}
.howItWorks-text  h4{
  padding-left: 2.5rem;
  font-size: 2rem;
  margin-top: 0.5rem;
}
.howItWorks-text  span{
  color: #fbb03b;
}
@media screen and (max-width: 1000px) {
  .howItWorks{
    margin: 5rem 2rem;
    height: auto;
    height: 55rem;
  }
  .rect1{
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 2rem;
  }
  .howItWorks-text{
    margin-top: 32rem;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .howItWorks{
    margin: 5rem 0rem;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    overflow: hidden;
  }
}
.sponsorship{
  margin: 7rem 5rem;
  height: 30rem;
}
.sponsor{
  text-align: center;
  width: 50%;
  margin: auto;
}
.sponsor h6{
  color: #fbb03b;
}
.sponsor h4{
  font-weight: 700;
  font-size: 2rem;
  margin-top: 10px;
}
.button{
  border: 2px solid #fbb03b;
  background-color: #fff;
  padding: 0.6rem 2rem;
  text-decoration: none;
  color: #000;
  border-radius: 25px;
}
.gadgets {
  display: flex;
  width: 50%;
  margin: auto;
  margin-left: 8rem;
}
.gadgets img{
  width: 500px;
  height: 400px;
}
@media screen and (max-width: 1000px) {
  .sponsorship{
    margin: auto;
    margin: 0rem 2rem;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .sponsorship{
    margin: 5rem 2rem;
  }
  .sponsor{
    text-align: left;
    width: 80%;
  }
  .sponsor h4{
    font-size: 1.2rem;
  }
  .sponsor p{
    font-size: 0.8rem;
  }
  .gadgets{
    flex-wrap: wrap;
  }
}
.skillsContainer{
  margin: 11rem 5rem;
  height: 20rem;
  text-align: center;
  width: 80%;
  margin: auto;
}
.skillsContainer h6{
  color: #fbb03b;
  margin-top: 6rem;
}
.skillsContainer h4{
  font-weight: 700;
  font-size: 2rem;
}

.skills{
  display: flex;
  column-gap: 30px;
}
.skills .bn{
  cursor: pointer;
  width: 450px;
  height: 30px;
  background-color: #fff;
  padding: 1.5rem 2.1rem;
  padding-bottom: 2rem;
  text-decoration: none;
  font-size: 1rem;
}
.skills .bn span{
  float: right;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50% 50%;
  padding: 5px;
}
@media screen and (max-width: 1000px) {
  .skillsContainer{
    margin: 0rem 2rem;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .skillsContainer{
    margin: 5rem 5rem;
    text-align: left;
    width: 70%;
  }
  .skillsContainer h4{
    font-size: 1.2rem;
  }
  .skillsContainer p{
    font-size: 0.8rem;
  }
  .skills{
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .skills a{
    text-align: center;
  }
}
.recruitContainer{
  margin: 9rem 5rem;
  height: 20rem;
  text-align: center;
  width: 50%;
  margin: auto;
}
.recruitContainer h6{
  color: #fbb03b;
}
.recruitContainer h4{
  font-weight: 700;
  font-size: 2rem;
}
.btn{
  background-color: #fbb03b;
  padding: 0.6rem 2.5rem;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
}
@media screen and (max-width: 992px) {
  .recruitContainer{
    margin: 2rem 5rem;
    text-align: left;
    width: 70%;
  }
  .recruitContainer h4{
    font-size: 1.2rem;
  }
  .recruitContainerp{
    font-size: 0.8rem;
  }
}
.blog {
  text-align: center;
  width: 50%;
  margin: auto;
  height: 30rem;
}
.blog h6{
  color: #fbb03b;
}
.blog h4{
  font-size: 2rem;
}
.blog h5{
  font-size: 1rem;
}
.blog p{
  font-size: 0.8rem;
}
.cards {
  display: flex;
  column-gap: 40px;
  margin-left: -17rem;
  }
.card{
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.container {
  padding: 2px 16px;
  flex: 1;
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 992px) {
  .blog {
    margin: 2rem 2rem;
    text-align: left;
    width: 80%;
    height: auto;
  }
  .blog  h6{
    margin: 2rem 3rem;
  }
  .blog  h4{
    font-size: 1.2rem;
    margin: 2rem 3rem;
  }
  .blog p{
    font-size: 0.8rem;
    margin: 2rem 2rem;
  }
  .cards{
    height: auto;
    flex-wrap: wrap;
    margin: auto;
    row-gap: 40px;
  }
}
.featured{ 
  text-align: center;
  width: 100%;
  margin: auto;
  height: 30rem;
  padding-top: 3rem ;
  
}
.featured-list{
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  padding: 1.2rem 6rem;
  margin: auto;
  
}
.stations{
  width: 50px;
  height: 50px;
  margin-top: 3rem;
  padding: 2rem 2rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px #f7f7f7;
  
} 
.featured h4{
  font-weight: 700;
  font-size: 2rem;
} 
@media screen and (max-width: 992px) {
  .featured{
    margin: 3rem 4rem;
    text-align: left;
    width: 80%;
  }
  .featured  h4{
    font-size: 1.2rem;
    margin: 3rem 2rem;
  }
  .featured img{
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    padding: 1rem 2rem;
  }
  
}
.testimonals{
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 6rem;
  height: 30rem;
}
.testimonals h6{
  color: #fbb03b;
}
.testimonals h4{
  font-weight: 700;
  font-size: 2rem;
}
.testimonals .test-box{
  display: flex;
  width: 1440px;
  height: 20rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.testimonals .test-box .bx{
  display: inline-flex;
  transform: translateX(0);
  transition: .9s;
}

.testimonals .test-box .bx .test-col{
  width: 350px;
  height: 100%;
  padding: 2rem;
  background: hsl(0, 0%, 98%);
  margin: 0 1rem 0 0;
  position: relative;
}
.testimonals .controls{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.testimonals .mobile-controls{
  display: none;
}

.testimonals .controls .left-arrow{
  width: 2rem;
  margin: 0 1rem;
  transform: rotate(-180deg);
  transition: .5s;
}

.testimonals .controls .left-arrow:hover{
  transform: rotate(-180deg) scale(1.3);
}

.testimonals .controls .right-arrow{
  width: 2rem;
  margin: 0 1rem;
  transition: .5s;
}

.testimonals .controls .right-arrow:hover{
  transform: scale(1.3);
}

@media screen and (max-width: 992px) {
  .testimonals{
    margin: 5rem 4rem;
    padding: 4rem 1rem;
    text-align: left;
    width: 80%;
    height: auto;
  }
  .testimonals  h4{
    font-size: 1.2rem;
  }
  
}
.scholarx{
  text-align: center;
  width: 50%;
  margin: auto;
  margin: 4rem 4rem;
  height: 30rem;
}
.company h6{
  color: #fbb03b;
}
.company h4 ,h5{
  font-weight: 700;
  font-size: 2rem;
}
.company h4 img{
  height: 30px;
  margin-top: 10px;
  padding: 1rem 2rem;
}
.scholarx-logo{
  position: relative;
  top: 1.5rem;
}
.partners img{
  height: 30px;
  margin-top: 10px;
  padding: 1rem 2rem;
}
@media screen and (max-width: 992px) {
  .scholarx{
    margin: 2rem 4.5rem;
    text-align: left;
    justify-content: left;
    width: 80%;
  }
  .company  h4{
    font-size: 1rem;
  }
  .scholarx-logo{
    position: relative;
    top: 1.5rem;
  }
  .partners img{
    max-width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 1rem 0.9rem;
  }
}
.footer{
  height: 8rem;
  color: #fff;
  background: #02144A;
  display: flex;
}
.footer-logo{
  width: 40%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 1rem 5rem;
}
.footer p{
  width: 100%;
  font-size: 1rem;
  margin-top: 20px;
  padding: 3.5rem 1rem;
  text-align: left;
  margin: auto;
}